<h1>Edit the site details for <%= @target_site.name %></h1>
<h2>Don't foget to click 'Update' at the bottom</h2>

<%= form_for [@target_site]  do |f| %>

  <% @target_site.errors.full_messages.each do |msg| %>
        <p class="text-warning"><%= msg %></p>
      <% end %>
      <div><%= f.label :name %>
      <%= f.text_field :name %></div>
   <div><%= f.label :url %>
      <%= f.text_field :url %></div>
       <div><%= f.label :page_rank %>
      <%= f.text_field :page_rank %></div>
       <div><%= f.label :backlinks %>
      <%= f.text_field :backlinks %></div>
       <div><%= f.label :twitter_followers %>
      <%= f.text_field :twitter_followers %></div>
       <div><%= f.label :facebook_likes %>
      <%= f.text_field :facebook_likes %></div>
       <div><%= f.label :google_plus_likes %>
      <%= f.text_field :google_plus_likes %></div>
       <div><%= f.label :twitter_handle %>
      <%= f.text_field :twitter_handle %></div>
       <div><%= f.label :facebook_page %>
      <%= f.text_field :facebook_page %></div>
       <div><%= f.label :google_plus_page %>
      <%= f.text_field :google_plus_page %></div>
       <div><%= f.label :pages_indexed %>
      <%= f.text_field :pages_indexed %></div>


      </br>
      <%= f.submit "Submit", :class => 'btn btn-primary' %>

<% end %>
</br>

<p>Back to <%= link_to "home", root_path %></p>
