<h1>This is the show page for the target_site</h1>



	<h2><%= @target_site.name %></h2>
	<p><%= link_to @target_site.url, @target_site.url, :target => 'blank' %></p>
		<p><strong>Page Rank:</strong> <%= @target_site.page_rank %></p>
		<p><strong>Pages Indexed:</strong> <%= @target_site.pages_indexed %></p>	
	<p><strong>Backlinks: </strong><%= @target_site.backlinks %></p>
		<p><strong>Twitter Handle:</strong> <%= @target_site.twitter_handle %></p>
		<p><strong>Twitter Followers:</strong> <%= @target_site.twitter_followers %></p>
		<p><strong>Facebook Page:</strong> <%= @target_site.facebook_page %></p>
		<p><strong>Facebook Likes:</strong> <%= @target_site.facebook_likes %></p>
		<p><strong>Google Plus Page:</strong> <%= @target_site.google_plus_page %></p>
		<p><strong>Google Plus Likes: </strong><%= @target_site.google_plus_likes %></p>

		<p><%= link_to 'Edit', edit_target_site_path %>


<h3>Use this target_site_connect_path</h3>
<%= link_to "Choose clients this is relevant for", target_site_connect_path %>


<h3> or use this target_site_site_relationship </h3>

<%= link_to "Choose clients this is relevant for", new_target_site_site_relationship_path(@target_site) %>

<% unless @target_site.client_sites.empty? %>

<h3>Currently it has been assigned to </h3>

<ul>
<% @target_site.client_sites.each do |client_site| %>
<li><%= client_site.name %> </li>
<% end %>

</ul>

<% end %>